<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenTalk</title>
    <link rel="preload" href="Mona-Sans.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="icon" href="./images/logocpy-removebg-preview (1).png">
    <link rel="stylesheet" href="./stylesheets/style.css">
    
    
</head>
<body>