<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="./stylesheets/home.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
    <div class="maindiv">
        <div class="firstdiv">
            <div class="firstinnerdiv">
                <img src="./images/OpenTalkLogo.png" alt="logo">
                <a href="/logout"><i class="ri-logout-box-line"></i></a>
            </div>
            <div class="secondinnerdiv">
                <div class="chatbox">
                    <h1>Chat</h1>
                    <div class="search">
                        <input type="text" placeholder="Search">
                        <i class="ri-user-search-line"></i>
                    </div>

                    <a href=""><i class="ri-add-line"></i></a>
                </div>
                <div class="friendlistbox">
                    <p>FRIENDLIST</p>
                    <div class="friendlist">
                        <div class="user1">
                            <div class="userdetails">
                                <div class="profile"></div>
                                <div class="description">
                                    <h3>James Bond</h3>
                                    <h6>Lorem ipsum dolor sit </h6>
                                </div>
                            </div>
                            <div class="messages">1</div>
                        </div>
                        <div class="user1">
                            <div class="userdetails">
                                <div class="profile" style="background-image:url('https://picsum.photos/200') ;"></div>
                                <div class="description">
                                    <h3>Marcus RashFord</h3>
                                    <h6>Lorem ipsum dolor sit </h6>
                                </div>
                            </div>
                            <div class="messages">7</div>
                        </div>
                        <div class="user1">
                            <div class="userdetails">
                                <div class="profile" style="background-image:url('https://picsum.photos/200') ;"></div>
                                <div class="description">
                                    <h3>Steve Smith</h3>
                                    <h6>Lorem ipsum dolor sit </h6>
                                </div>
                            </div>
                            <div class="messages">67</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="seconddiv">
            <form id="form" action="">
                <input id="input" autocomplete="off" /><button>Send</button>
              </form>

              <ul id="messages"></ul>  <!--the messages appear here-->
        </div>
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="./javascripts/socket.js"></script>

</html>