<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenTalk</title>

    <link rel="icon" href="./images/OpenTalkLogo.png">
    <link rel="stylesheet" href="./stylesheets/register.css">

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">


</head>

<body>
    <div class="registerpage">
        <div class="register">
            <div class="logodiv">
                <img src="./images/OpenTalkLogo.png"
                    alt="logo"><span>p</span><span>e</span><span>n</span><span>T</span><span>a</span><span>l</span><span>k</span>
            </div>

            <form class="registerform" action="/register" method="post">
                <div class="firstContainer">
                    <p class="seemore">Make Account to see More!</p>
                    <% if(existsError.length > 0){ %>
                        <p class="error"><%= existsError %></p>
                      <% } %>
                    <input type="text" name="username" placeholder="Username" autocomplete="off" maxlength="25" pattern="^\S+$" title="Please enter username without spaces." required />
                    <input type="text" name="fullname" placeholder="Full Name" autocomplete="off" maxlength="25" required />
                    <input type="password" name="password" placeholder="Password" autocomplete="off" maxlength="15" pattern="^\S+$" title="Please enter password without spaces." required />
                    <a class="nothaveaccount" href="./login">Already have an account?</a>
                </div>
                <div class="secondContainer">
                    <button type="submit">Register</button>
                </div>
            </form>

        </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./javascripts/registerAndLogin.js"></script>
</body>

</html>