*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family:   Calibri, 'Trebuchet MS', sans-serif;
}

body{
    width:100%;
    height:100vh;
    
}
.maindiv{
    padding:25px;
    width:100%;
    height:100%;
    background-color:#E2E4E9;
    display: flex;
    gap:5px;
}
.firstdiv{
    height:100%;
    width:90%;
    border-radius: 10px;
    background-color:#E2E4E9;
    display: flex;
    gap:5px;
}
.firstinnerdiv{
    min-width:80px;
    height:100%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    display:flex;
    padding:20px 0px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.firstinnerdiv>img{
    max-width:45px;
}
.optionlist{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    min-height: 195px;
}
.option{
    color:#ffffff;
    font-size:24px;
    text-decoration: none;
    transition: 0.3s;

}
.option:hover{
    color: #FF6606;  
}
.logout{
    width:43px;
    height:43px;
    cursor: pointer;
    text-decoration: none;
    color:#FF6606;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:30px;
    background-color: transparent;
    border: none;
}
.secondinnerdiv{
    height:100%;
    width:100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap:10px;
    padding:15px;
}

#globalForm{
    width:100%;
    height:40px;
    background-color:#E1E3E8;
    display: flex;
    justify-content:space-between;
    border-radius: 20px;
    align-items: center;
}
#globalForm>#globalInput{
    width:90%;
    height:40px;
    background-color: transparent;
    border:2px solid grey;
    border-radius: 20px;
    padding:0px 25px;
    color: #000000;
    resize: none;
    padding-top: 10px;
    overflow: hidden;
}

#globalForm>button{
    width:40px;
    height:40px;
    font-size: 24px;
    border-radius: 50%;
    border:none;
    color: white;
    background-color: #FF6606;
}

#globalMessagediv{
    padding:10px 10px;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: normal;
    background-color:#E1E3E8;
    border-radius: 10px;
    gap:2px;
}



.seconddiv{
    height:100%;
    width:220px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap:5px;
    border-radius: 10px;
}
.thirdinnerdiv{
    width:100%;
    height:40px;
    display: flex;
    align-items: center;
    gap:35px;
    border-radius: 40px;
    background-color: #FF6606;
}
.globe{
    position: relative;
}
.online{
    width:8px;
    height:8px;
    background-color: rgb(0, 255, 0);
    border-radius: 50%;
    position: absolute;
    bottom:3px;
    right:3px;
    border:1px solid black;
}
.thirdinnerdiv>h4{
    color: white;
}
.globalimg{
    width:40px;
    height:40px;
    background-color: #ffffff;
    border-radius: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: 2px solid rgb(255, 119, 0);
}
.fourthinnerdiv{
    width:100%;
    height:100%;
    background-color: #000000;
    border-radius: 10px;
    padding:10px 10px;
    color:white;

}
.fourthinnerdiv>p{
    color:grey;
    font-weight:700;
    font-size: smaller;
}
.onlineusers{
    width:100%;
    height:100%;
    overflow: auto;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap:3px;
    background-color: #0a0a0a00;
}
.user1{
    width:98%;
    padding:10px 10px;
    height:50px;
    background-color: rgb(51, 51, 51);
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap:10px;
    border-radius: 10px;
}
.onlineusers::-webkit-scrollbar {
    width: 5px; 

 }

.onlineusers::-webkit-scrollbar-track {
  background-color:#E2E4E9;
}

.onlineusers::-webkit-scrollbar-thumb {
  background: #FF6606;
  border-radius:0px;
}
.user1>.profile{
    width:35px;
    height:35px;
    border-radius: 50%;
}
.user1>.description{
    font-size:11px;
}
.mymessage{
    width:100%;
    display: flex;
    justify-content:flex-start ;
    overflow-wrap: break-word;
    white-space: pre-wrap;

}
.mymessage>span{
    padding:4px 10px;
    background-color: #FF6606;
    border-radius: 20px;
    border-top-left-radius:0px;
    color:white;
    font-size: 20px;
    max-width: 100%;
}
.othermessage{

    width:100%;
    display: flex;
    justify-content:flex-end;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    
}
.othermessage>span{
    padding:4px 10px;
    background-color: #000000;
    border-radius: 20px;
    border-top-right-radius:0px;
    color:white;
    font-size: 20px;
    max-width: 100%;
}