*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:   Calibri, 'Trebuchet MS', sans-serif;
}
body{
    height: 100vh;
    width:100vw;
}
.maindiv{
    width:100%;
    padding:8px;
    background-color:#FF6606;
    height:100%;
}
.firstdiv{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    gap:4px;
    
    
    
}
.firstinnerdiv{
    padding: 0px 10px;
    width:100%;
    height:60px;
    border-radius: 7px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.firstinnerdiv>img{
    max-width:40px;
}
.secondinnerdiv{
   
    width:100%;
    height: calc(100% - 64px);
    border-radius: 7px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap:4px;
   
    
    
}
.optionlist{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}
.option{
    text-decoration: none;
    color: white;
    font-size: larger;
}
.option:hover{
    color: #FF6606;  
}

.logout{
    width:43px;
    height:43px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:30px;
    background-color: #000000;
    border: none;
}
.chatbox{
    width:100%;
    height:60px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    padding: 0px 10px;
    border-radius: 7px;
}
.chatbox>h1{
    font-size: 30px;
}
.search{
    height:40px;
    width:fit-content;
    position: relative;
    display: flex;
    gap:10px;
    align-items: center;

}
.chatbox>.search>.inputdiv{
    height:100%;
    width:fit-content;
    border-radius: 40px;
    border: none;
    color: #000000;
    font-size: medium;
    background-color: transparent;
    border:2px solid grey;
    position: relative;
    
    
}
.inputdiv>input{
    height:100%;
    width: 100%;
    border-radius:40px ;
    border: none;
    padding: 0px 25px;
}

.inputdiv>i{
    position: absolute;
    right:30px;
    top:50%;
    transform: translateY(-50%);
    font-size: large;
    
    
}
.searchBtn{
    text-decoration: none;
    color:white;
    border-radius: 50%;
    min-width:40px;
    height:40px;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 102, 6);
}
.searchBtn>i{
    font-size:24px;
}
.friendlistbox{
    width:100%;
    height:calc(100% - 64px);
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    padding: 4px 7px;
    display: flex;
    flex-direction: column;
    gap:2px;
}
.friendlistbox>p{
    height:14px;
    
    color:grey;
    font-weight:500;
    font-size:14px;
}
.friendlist{
    width:100%;
    height:calc(100% - 16px);
    overflow: auto;
    
}
.user1{
    width:100%; 
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(206, 206, 206);
    padding:10px 10px;
    display: flex;
    padding-left: 20px;
    justify-content: space-between;
    gap:10px;
    align-items: center;
}
.userdetails{
    width:80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap:15px;
}
.profile{
    height:40px;
    width:40px;
    background-color:  #B1B1B1;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    
}
.profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.seconddiv{
    
    height: calc(100% - 64px);
    width:100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
}
.thirdinnerdiv{
    padding:0px 10px;
    padding-right: 18px;
    width:100%;
    height:65px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color:rgb(0, 0, 0);
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    justify-content: space-between;
}
.selecteduser{
    
    height:100%;
    background-color: rgba(127, 255, 212, 0);
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.selecteduserprofile{
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#B1B1B1;
}
.selecteduserprofile img{
    width:50px;
    height:50px;
    border-radius: 50%;
    object-fit: cover;
}
.selecteduserdetails>p{
    font-size: 12px;
}
.menu{
    text-decoration: none;
    width:30px;
    height:30px;
    color: #a2a2a2;
    font-size:20px;
    background-color: #f4f4f4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.fourthinnerdiv{
   
    width:100%;
    height:calc(100% - 65px);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding:10px ;
    display: flex;
    gap:10px;
    flex-direction: column;
    justify-content: space-between;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
#homeForm{
    width:100%;
    height:40px;
    background-color:#E1E3E8;
    display: flex;
    justify-content:space-between;
    border-radius: 20px;
    align-items: center;
}
#homeForm>#homeInput{
    width:90%;
    height:40px;
    background-color: transparent;
    border:2px solid grey;
    border-radius: 20px;
    padding:0px 25px;
    color: #000000;
    resize: none;
    padding-top: 10px;
    overflow: hidden;
}
#homeForm>button{
    width:40px;
    height:40px;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    border:none;
    color: white;
    background-color: #FF6606;
}
#homeMessagediv{
    padding:10px 10px;
    width:100%;
    display: flex;
    flex-direction: column;
    height:100%;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: normal;

    background-color:#E1E3E8;
    border-radius: 10px;
    gap:2px;
    scroll-behavior: smooth;
}
.mymessage{
    width:100%;
    display: flex;
    justify-content:flex-start ;
    overflow-wrap: break-word;
}
.mymessage>span{
    padding:5px 10px;
    background-color: #FF6606;
    border-radius: 20px;
    border-top-left-radius:0px;
    color:white;
    font-size: 20px;
    max-width: 90%;
    line-height: 19px;
    white-space: pre-wrap;
}
.mymessage>span>.mynametag{
    font-size: 12px;
    font-family:'Segoe UI';
    font-weight: 500;
    color:black;
}
.othermessage{

    width:100%;
    display: flex;
    justify-content:flex-end;
    overflow-wrap: break-word;
    
}
.othermessage>span{
    padding:5px 10px;
    background-color: #000000;
    border-radius: 20px;
    border-top-right-radius:0px;
    color:white;
    display: flex;
    flex-direction: column; 
    font-size: 20px;
    max-width: 90%;
    line-height: 19px;
    white-space: pre-wrap;
}
.othermessage>span>.othernametag{
    font-size: 12px;
    font-family:'Segoe UI';
    font-weight: 500;
    color:#FF6606;
    display: flex;
    justify-content: flex-end;
}

.newshow{
    display:flex;
}
.newhide{
    display:none;
}
.noUserFoundImage{
    width: 60%;
    object-fit: cover;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.friendlist::-webkit-scrollbar {
    width: 5px; 
 }

.friendlist::-webkit-scrollbar-track {
  background-color:#E2E4E9;
  border-radius:30px ;
}

.friendlist::-webkit-scrollbar-thumb {
  background: #FF6606;
  border-radius:30px;
}