<% include ./partials/header.ejs %>
<div class="risediv">
    <div class="mainlogodiv">
        <img src="./images/logocpy-removebg-preview (1).png" alt="logo"><span>p</span><span>e</span><span>n</span><span>T</span><span>a</span><span>l</span><span>k</span>


    </div>
</div>
<div class="register">
    
</div>
<% include ./partials/footer.ejs %>